@import "../../styles/variables";
@import "../../styles/mixins";

.Heading {
  @include titleFont();
  font-weight: bold;
  color: $color-text-primary;

  &.h1 {
    font-size: $font-size-h1;
  }

  &.h2 {
    font-size: $font-size-h2;
  }

  &.h3 {
    font-size: $font-size-h3;
  }
}