@import "./variables";

@mixin mediumTransition($properties: all) {
  @include transition($properties, 0.2s)
}

@mixin fastTransition($properties: all) {
  @include transition($properties, 0.05s)
}

@mixin transition($properties: all, $duration) {
  transition: $properties $duration ease-in-out;
}

@mixin defaultFont {
  font-family: 'Kumbh Sans', sans-serif;
}

@mixin titleFont {
  font-family: 'Pirata One', cursive;
}

@mixin shadow {
  box-shadow: 0 5px 10px $color-border;
  @include mediumTransition(box-shadow);

  &:hover {
    box-shadow: 0 10px 10px $color-border;
  }
}

@mixin clickable {
  &:hover {
    cursor: pointer;
  }
}