@import "./variables";

@mixin longTransition($properties: all) {
  @include transition($properties, 3.5s)
}

@mixin mediumTransition($properties: all) {
  @include transition($properties, 0.2s)
}

@mixin fastTransition($properties: all) {
  @include transition($properties, 0.05s)
}

@mixin transition($properties: all, $duration) {
  transition: $properties $duration ease-in-out;
}

@mixin defaultFont {
  font-family: 'Kumbh Sans', sans-serif;
}

@mixin shadow {
  box-shadow: 0 5px 10px $color-border;
  @include mediumTransition(box-shadow);

  &:hover {
    box-shadow: 0 10px 10px $color-border;
  }
}

@mixin clickable {
  &:hover {
    cursor: pointer;
  }
}

@mixin tag($color) {
  background: $color;
  border: none;
  border-radius: 150px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}