$color-text-primary: #ffffff;
$color-text-secondary: #abb2bf;

$color-background-primary: #282c34;
$color-background-secondary: #21252b;

$color-border: #4f5259;

$color-accent: #f44336;
$color-accent-lighter: #ef9a9a;
$color-accent-darker: #c62828;

$font-size-h1: 60pt;
$font-size-h2: 48pt;
$font-size-h3: 34pt;
$font-size-body: 14pt;

$spacing-default: 15px;
$spacing-small: 5px;

$screen-mobile: 480px;
$screen-tablet: 768px;
$screen-laptop: 1024px;