@import "../../styles/variables";
@import "../../styles/mixins";

.Card {
  background: $color-background-primary;
  border-radius: 10px;
  padding: $spacing-default;

  hr {
    border: $color-border solid 1px;
    margin-bottom: $spacing-default;
  }
}

.CardHeading {
  text-align: center;
}