@import "../../styles/variables";
@import "../../styles/mixins";

.Button {
  @include tag($color-accent);
  @include fastTransition;
  @include clickable;

  &:hover {
    background-color: $color-accent-darker;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    color: $color-border;
    background-color: $color-border;

    .ButtonText {
      color: $color-text-secondary;
    }
  }

  .ButtonText {
    color: $color-text-primary;
    margin-left: $spacing-small;
    font-size: $font-size-body;

    @media (max-width: $screen-tablet) {
      font-size: $font-size-body-mobile;
    }
  }
}