@import "../../styles/variables";
@import "../../styles/mixins";

.Instruments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.OtherInfo {
  @include longTransition;
  max-height: 10000px;
  overflow: hidden;

  &.hidden {
    max-height: 0;
  }
}

.MidiInputs {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  align-items: stretch;

  .MidiInput {
    @include tag($color-background-secondary);
    margin-top: $spacing-small;
  }
}