@import "../../styles/variables";
@import "../../styles/mixins";

@keyframes vibrate {
  from {
    transform: scale(0.97, 0.97);
  }
  to {
    transform: scale(1, 1);
  }
}

.NotesVisualizer {
  display: flex;
  justify-content: center;
  align-items: center;

  .Container {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: $color-accent-lighter;
    display: flex;
    justify-content: center;
    align-items: center;


    @media (max-width: $screen-tablet) {
      max-height: 90vw;
      max-width: 90vw;
    }
  }

  .Indicator {
    @include mediumTransition;

    height: 10%;
    width: 10%;
    border-radius: 50%;
    background-color: $color-accent;
    animation-name: vibrate;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;

    &.on {
      height: 95%;
      width: 95%;
    }
  }
}